

SELECT * FROM [TABELA DE VENDEDORES]

SELECT * FROM [NOTAS FISCAIS]

SELECT 
	   VEND.MATRICULA,
	   VEND.NOME AS NOME_VENDEDOR,
	   VEND.[PERCENTUAL COMISSÃO],
	   VEND.[DATA ADMISSÃO],
	   NFS.NUMERO
FROM [TABELA DE VENDEDORES] AS VEND
INNER JOIN [NOTAS FISCAIS] AS NFS
ON [VEND].MATRICULA = [NFS].MATRICULA
ORDER BY VEND.MATRICULA, NFS.DATA

SELECT * FROM [TABELA DE VENDEDORES] A
	INNER JOIN [NOTAS FISCAIS] B 
	ON A.MATRICULA = B.MATRICULA

SELECT VEND.MATRICULA,
	   VEND.[NOME], 
	   COUNT(*) AS TOTOAL_NFS
FROM [TABELA DE VENDEDORES] VEND 
	   INNER JOIN [NOTAS FISCAIS] NFS
	   ON VEND.MATRICULA = NFS.MATRICULA
GROUP BY VEND.MATRICULA, VEND.[NOME]
ORDER BY VEND.MATRICULA

--total vendas x vendedor x ano
SELECT VEND.MATRICULA,
	   VEND.[NOME],
	   YEAR(DATA) AS ANO,
	   COUNT(*) AS QTDE_NFS,
	   FORMAT(SUM(PREÇO * QUANTIDADE), 'C', 'pt-br' ) AS TOTAL	   
FROM [TABELA DE VENDEDORES] VEND 
INNER JOIN [NOTAS FISCAIS] NFS 
	   ON VEND.MATRICULA = NFS.MATRICULA
INNER JOIN [ITENS NOTAS FISCAIS] INFS
	   ON NFS.NUMERO = INFS.NUMERO
GROUP BY VEND.MATRICULA, VEND.[NOME], YEAR(DATA)
ORDER BY VEND.MATRICULA, YEAR(DATA)

--total vendas x ano
SELECT YEAR(DATA), SUM (QUANTIDADE * [PREÇO]) AS FATURAMENTO
FROM [NOTAS FISCAIS] NF INNER JOIN [ITENS NOTAS FISCAIS] INF 
ON NF.NUMERO = INF.NUMERO
GROUP BY YEAR(DATA)

ALTER TABLE [dbo].[ITENS NOTAS FISCAIS]
ALTER COLUMN [PREÇO] 
MONEY NOT NULL
	    

SELECT VEND.MATRICULA AS 'MAT VENDEDOR', 
	   VEND.[NOME] AS 'NOME VENDEDOR', 
	   YEAR(DATA) AS 'ANO VENDA', 
	   COUNT(*) AS 'QTDE NFS'
FROM [TABELA DE VENDEDORES] VEND
INNER JOIN [NOTAS FISCAIS] NFS
	   ON VEND.MATRICULA = NFS.MATRICULA
GROUP BY VEND.MATRICULA, VEND.[NOME], YEAR(DATA)
ORDER BY VEND.[MATRICULA], YEAR(DATA) 



SELECT * FROM [TABELA DE VENDEDORES] INNER JOIN 
[NOTAS FISCAIS] ON [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA


--sql join old school
SELECT * FROM [TABELA DE VENDEDORES], [NOTAS FISCAIS]
WHERE [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA



SELECT [TABELA DE VENDEDORES].MATRICULA, 
	   NOME, 
	   YEAR(DATA),
	   COUNT(*) 
FROM [dbo].[TABELA DE VENDEDORES], [dbo].[NOTAS FISCAIS]
WHERE [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA
GROUP BY [TABELA DE VENDEDORES].MATRICULA, NOME, YEAR(DATA)


